@import "tailwindcss";

@theme {
  --color-primary: #234146;
  --color-secondary: #576769;
  --color-background: #F2F2F2;
  --color-white: #FFFFFF;
  
  --font-display: var(--font-bodoni), serif;
  --font-sans: var(--font-inter), sans-serif;
}

/* Base Styles */
:root {
  --background: #F2F2F2;
  --foreground: #234146;
}

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display text-primary;
  }
}
